<html>
<body>
<h1>Submit this form</h1><br /><br />
	<form action="/todo_add" method="POST">
	<p>
	<label for="text">Text File: </label>
	<input type="text" name= "todo_key">
	<input name ="commit" type ="submit" value ="Submit task">
	</p>
	</form>
	<br />
	<br />
	<br />
	<br />
</body>
</html>